
    <%= form_for(@mark) do |f| %>
  <% if @mark.errors.any? %>
    <div id="alert alert-error">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, "Tags" %><br>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>
  <div class="actions">
    <% if @remote_addition %>
      <input type="hidden" name="remote" value="true">
    <% end %>
    <%= f.submit "Create markr", class: 'submit' %>
  </div>
<% end %>
